.checkout-header {
  text-align: center;
  font-weight: 900;

}
.checkout-method-select {
  display: flex;
  text-align: center;
  align-items: center;
  width: 100%;
  justify-content: center;
}
.checkout-method-select button {
  width: 40%;
  max-width: 120px;
  background-color: rgb(200, 241, 210);
  padding: 4px 5px;
  font-weight: 700;
  box-shadow: 1px 1px 6px rgb(0, 0, 0, 0.2);
  border-collapse: collapse;
}
.visa {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 17px;
  border-bottom-right-radius: 17px;
  border-collapse: collapse;
  border-left: none;
}
.mobile-money {
  border-right: none;
  border-top-left-radius: 17px;
  border-bottom-left-radius: 17px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-collapse: collapse;
}
.payment-modal{
    
    padding: 12px 3px;
}
.payment-modal-input{
    display: flex;
    flex-direction: column;
    padding: 20px 10%;
}
.payment-modal input{
    padding: 4px;
    margin: 2px 4px;
    border-radius:9px;

}
.payment-modal button{
    width: 40%;
    max-width: 120px;
    background-color: rgb(200, 241, 210);
    padding: 4px 5px;
    font-weight: 700;
    box-shadow: 1px 1px 6px rgb(0, 0, 0, 0.2);
    border-collapse: collapse;
    border-radius: 17px;
}
.form-button{
    text-align: center;
    align-items: center;
    
}

